<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Mi aplicación ASP.NET</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
</head>
<body>
    <div class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container col-md-12" style="display:flex">
            <div class="col-md-1"></div>
            <div class="navbar-header col-md-5">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <img src="~/Imagenes/refugio.jfif" style="height:30%; width:30%">
            </div>
            <div class="col-md-2"></div>

            <div class="navbar-collapse collapse col-md-5">
                <ul class="nav navbar-nav ">
                    <li>@Html.ActionLink("Inicio", "Index", "Home")</li>
                    <li>@Html.ActionLink("Contacto", "Contact", "Home")</li>
                    <li>@Html.ActionLink("Lista de gatos", "ListCat", "Home")</li>
                    @if (Session["User"] != null)
                    {
                        <li> @Html.ActionLink("Agregar nuevo usuario", "Index", "Agregar")  </li>
                        <li>@Html.ActionLink("Cerrar Sesion", "LogOff", "Cerrar")</li>
                        
                    }
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content;">
        @RenderBody()
        <div class="col-md-12">
            <hr />
            <footer style="text-align:center">
                <p>&copy; @DateTime.Now.Year - Refugio de silvia</p>
            </footer>
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
