@model List<Refugio.Models.ViewModels.ListTablaViewModel>
@{
    ViewBag.Title = "Lista de gatos";
}

<h1></h1>
<div class="jumbotron" style="background-image:url(../../Imagenes/PORTADA_Articulo.jpg); background-repeat:no-repeat; background-size:cover;">
    <h1 style="color:#ffffff; text-align:center">@ViewBag.Title</h1>
    <br />
    <br />
    <br />
    <br />
    <br />
</div>

<div class="row" style="padding:5px">
    <div class="col-md-12">
        <table class="table">
            <tr>
                <th>Nombre</th>
                <th>Raza</th>
                <th>Edad</th>
                <th>Castrado</th>
                <th>Formulario</th>

            </tr>
            @foreach (var gato in Model)
            {
                <tr>
                    <td>@gato.NOMBRE</td>
                    <td>@gato.RAZA</td>
                    <td>@gato.EDAD</td>
                    <td>@gato.CASTRADO</td>

                </tr>
            }

        </table>
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
            Launch demo modal
        </button>

        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        ...
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Save changes</button>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div style="text-align:left; margin:15px; height:50px" class="col-md-6">
        <a class="btn btn-primary" href="~/tabla/Index"> Editar </a>
    </div>
</div>

<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
    SDSD
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>