@model List<Refugio.Models.ViewModels.ListTablaViewModel>
@{
    ViewBag.Title = "Lista de gatos";
}

<h1></h1>
<div class="jumbotron" style="background-image:url(../../Imagenes/PORTADA_Articulo.jpg); background-repeat:no-repeat; background-size:cover;">
    <h1 style="color:#ffffff; text-align:center">@ViewBag.Title</h1>
    <br />
    <br />
    <br />
    <br />
    <br />
</div>

<div class="row" style="padding:5px">
    <div class="col-md-12">
        <table class="table">
            <tr>
                <th>Nombre</th>
                <th>Raza</th>
                <th>Edad</th>
                <th>Castrado</th>
                <th>Formulario</th>

            </tr>
            @foreach (var gato in Model)
            {
                <tr>
                    <td>@gato.NOMBRE</td>
                    <td>@gato.RAZA</td>
                    <td>@gato.EDAD</td>
                    <td>@gato.CASTRADO</td>

                </tr>
            }

        </table>
        <!-- Button trigger modal -->
        <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
            Adoptar
        </button>

        <!-- Modal -->
        <div class="collapse" id="collapseExample">
            <div class="card card-body">
                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">Email address</label>
                    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
                </div>
                <div class="mb-3">
                    <label for="exampleFormControlTextarea1" class="form-label">Example textarea</label>
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                </div>
                <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                    Enviar
                </button>
            </div>
        </div>

    </div>

    <div style="text-align:left; margin:15px; height:50px" class="col-md-6">
        <a class="btn btn-primary" href="~/tabla/Index"> Editar </a>
    </div>
</div>